<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Settings.ProjectData" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Settings.Execution" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
      <param name="File" value="Execution.log" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p %c: %m%n" />
      </layout>
    </appender>
  </log4net>
  <userSettings>
    <Settings.ProjectData>
      <setting name="CURRENT_TEST_SUITE" serializeAs="String">
        <value />
      </setting>
    </Settings.ProjectData>
    <Settings.Execution>
      <setting name="BROWSER" serializeAs="String">
        <value>*firefox</value>
      </setting>
      <setting name="RETRY" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="RETRY_INTERVAL" serializeAs="String">
        <value>1000</value>
      </setting>
    </Settings.Execution>
  </userSettings>
</configuration>